.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 8px;

    font-family: var(--font-manrope), sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 1.5;

    transition: var(--transition);

    padding: 14px 0px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}
.green{
    background-color: var(--accent-color);
    color: var(--white-color);
    border: none;
}

.green:hover{
    background-color: var(--accent-hover-color);
}
.green:active {
    background-color: var(--accent-active-color);
}

.white{
    background-color: var(--main-white);
        color: var(--main-black);
        border: 1px solid var(--gray-light);
}


.white:active {
    border: 1px solid var(--button-hover);
}
.btn svg {
    width: 16px;
    height: 16px;
    fill: currentColor;
    stroke: currentColor;
}   



