.statsSection {
    padding: 48px 0;
}

.statsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.statItem {
    display: flex;
    flex-direction: column;
    padding: 0 40px 20px;
    gap: 8px;
    flex: 1;
    position: relative;

}

.statsContainer .statItem:nth-child(2)::before,
.statsContainer .statItem:nth-child(3)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 68px;
    background-color: var(--background-third-color);
}

.statsContainer .statItem:nth-child(1) {
    align-items: center;
    text-align: center;
}

.statsContainer .statItem:nth-child(2) {
    align-items: flex-start;
    text-align: left;
    padding-left: 16px;
}

.statsContainer .statItem:nth-child(3) {
    align-items: start;
    text-align: center;
    padding-left: 16px;
    .number{
        padding-left: 46px;
    }
}

.number {
    font-size: 32px;
    font-weight: 600;
    color: var(--accent-color);
    line-height: 1.25;
    letter-spacing: -0.01em;
}

.label {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--accent-color);
}