html {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

body{
    font-family: var(--font-manrope), sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    width: 100%;
    min-height: 100vh;

}
a {
    text-decoration: none ;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

:root {
    --background-color: #f1f4f2;
    --background-second-color: #ebeeed;
    --background-third-color: #e6e9e8;
    --border-color:#bfc9c1;
    --grey-color: #404943;
    --text-color: #6b7280;
    --black-color: #181c1c;
    --white-color: #fff;
    --accent-color: #0d6c4a;
    --accent-hover-color: #0c4a34;
    --accent-active-color: #0a3425;
    --accent-placeholder-color: #a0f4c8;
    --error-color: #ba1a1a;
    --yellow-color: #EAB308;
    

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
