.header {
  display: flex;
  align-items: center;
  gap: 450px;
  padding: 24px 64px;
  background-color: var(--white);
}

.HeaderLogoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}
.HeaderLogoIcon{
  fill: currentColor;
}

.navigation {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigationLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: var(--main-black);
  transition: var(--transition);
}

.active {
  color: var(--button);
}
