.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 128px;
  background-color: var(--white-color);
}

.HeaderLogoWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

.HeaderLogoIcon {
  fill: currentColor;
}

.navigation {
  display: flex;
  gap: 40px;
}

.navigationLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
  transition: var(--transition);
}

.favoritesLinkWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.heartIcon {
  fill: inherit;
}

.active {
  color: var(--accent-color);
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}

.authBlock {
  display: flex;
  align-items: center;
}

.unauthorizedMenu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.loginBtn {
  background: none;
  border: 1px solid rgba(24, 28, 28, 0.2);
  padding: 14px 39px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
  cursor: pointer;
  transition: var(--transition);
}

.loginBtn:hover {
  border-color: var(--black-color);
}

.signUpBtn {
  background-color: var(--accent-color);
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  color: var(--white-color);
  cursor: pointer;
  transition: var(--transition);
}

.signUpBtn:hover {
  background-color: var(--accent-hover-color);
}

.authorizedMenu {
  display: flex;
  align-items: center;
  gap: 28px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.userAvatar {
  width: 44px;
  height: 44px;
  background-color: var(--accent-placeholder-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--accent-color);
}

.userName {
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
}

.logoutBtn {
  background: none;
  border: 1px solid rgba(24, 28, 28, 0.2);
  padding: 14px 40px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
  cursor: pointer;
  transition: var(--transition);
}

.logoutBtn:hover {
  border-color: var(--error-color);
  color: var(--error-color);
}